<%- include('header') %>

<body>
  <hr class="hr-to-paragraph" />

  <div
    class="container"
    style="display: flex; justify-content: center; align-items: center"
  >
    <form
      action="/product/add"
      method="post"
      style="
        display: flex;
        background-color: white;
        gap: 50px;
        padding: 50px;
        border-radius: 10px;
        width: calc(100vw - 100px);
      "
    >
      <div style="display: flex">
        <img
          src="<%= item.image_url %>"
          alt="flower"
          style="width: calc((100vw - 100px) * 0.25); height: inherit"
        />
      </div>

      <div
        style="
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          flex: 2;
        "
      >
        <div>
          <h5><%= item.name %></h5>
          <p><%= item.description %></p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            justify-self: flex-end;
            gap: 100px;
          "
        >
          <h5>Price: <%= item.price %>$</h5>
          <button class="cart-button">
            <i class="fa-solid fa-cart-shopping"></i> Add to cart
          </button>
        </div>
      </div>
    </form>
  </div>

  <br />

  <div
    class="container"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
    "
  >
    <div
      style="
        display: flex;
        flex-flow: column;
        height: 100px;
        width: calc((100vw - 150px) / 4);
        justify-content: center;
        align-items: center;
        border-color: lightcoral;
      "
    >
      <h5>Review</h5>
    </div>

    <div
      style="
        display: flex;
        flex-flow: column;
        height: 100px;
        width: calc((100vw - 150px) * 3 / 4);
        justify-content: center;
        align-items: center;
        border-color: lightcoral;
      "
    >
      <h5>Related products</h5>

      <div style="display: flex">
        <% for (let i = 0; i < relatedList.length; i++) { %>
        <div class="col-sm-4" style="padding: 10px">
          <h5><%= relatedList[i].name %></h5>
          <div class="card">
            <a
              href="/product/<%= relatedList[i].id %>"
              style="display: flex; width: 100%; justify-content: center"
              ><img
                src="<%= relatedList[i].image_url %>"
                alt="flower"
                style="width: 75%"
            /></a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <br />
</body>

<%- include('footer') %>
