<%- include('header') %>

<body>
  <hr class="hr-to-paragraph" />

  <div
    class="container"
    style="display: flex; justify-content: center; align-items: center"
  >
    <form
      style="
        display: flex;
        background-color: white;
        gap: 50px;
        padding: 50px;
        border-radius: 10px;
        width: calc(100vw - 100px);
      "
    >
      <div style="display: flex">
        <img
          src="<%= item.image_url %>"
          alt="flower"
          style="width: 400px; height: 400px; object-fit: cover;"
        />
      </div>

      <div
        style="
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          flex: 2;
        "
      >
        <div>
          <h5><%= item.name %></h5>
          <p><%= item.description %></p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            justify-self: flex-end;
            gap: 100px;
          "
        >
          <h5>Price: <div name="price"><%= item.price %>$</div></h5>
          <!-- <button class="cart-button">
            <i class="fa-solid fa-cart-shopping"></i> Add to cart
          </button> -->
          <a href="/user/cart/add/<%= item.id %>?price=<%= item.price %>">
              <i class="fa-solid fa-cart-shopping" style="color: #FF8F52"></i>
          </a>
          
        </div>
      </div>
    </form>
  </div>

  <br />

  <div
    class="container"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
    "
  >
    <div
      style="
        display: flex;
        flex-flow: column;
        width: calc((100vw - 150px) * 0.4);
        justify-content: center;
        align-items: center;
        border-color: lightcoral;
      "
    >
      <h5 style="align-items:flex-start; justify-content: center;">Review</h5>
    </div>

    <div
      style="
        display: flex;
        flex-flow: column;
        width: calc((100vw - 150px) * 0.6);
        justify-content: center;
        align-items: center;
        border-color: lightcoral;
      "
    >
      <h5>Related products</h5>

      <div style="display: flex; flex-wrap: wrap;">
        <% for (let i = 0; i < relatedList.length; i++) { %>
        <div style="padding: 10px; flex-flow: column;">
          <h5><%= relatedList[i].name %></h5>
          <div class="card">
            <a
              href="/product/detail/<%= relatedList[i].id %>"
              style="display: flex; width: 100%; justify-content: center"
              ><img
                src="<%= relatedList[i].image_url %>"
                alt="flower"
                style="width: 192px; height: 192px; object-fit: cover;"
            /></a>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <br />
</body>

<%- include('footer') %>